cfpb_dataset_url=https://www.consumerfinance.gov/data-research/making-ends-meet-survey-data/public-data/
cfpb_dataset_sample_1_url=https://files.consumerfinance.gov/f/documents/cfpb_making-ends-meet_data-sample-1.zip
cfpb_dataset_sample_3_url=https://files.consumerfinance.gov/f/documents/cfpb_making-ends-meet_data-sample-3.zip
cfpb_dataset_sample_4_url=https://files.consumerfinance.gov/f/documents/cfpb_making-ends-meet_data-sample-4.zip
cfpb_dataset_sample_5_url=https://files.consumerfinance.gov/f/documents/cfpb_making-ends-meet_data-sample-5.zip
cfpb_dataset_sample_6_url=https://files.consumerfinance.gov/f/documents/cfpb_making-ends-meet_data-sample-6.zip